$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #e5e7ed;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #072643;
$color__link-visited: #999;
$color__link-hover: #666;
$color__text-main: #666;

$color__border-input: #e5e7ed;
$color__border: #e5e7ed;
